@charset "UTF-8";

#headermenu {
	display: table;
}

#headermenu div {
	display: table-cell;
	padding-right: 20px;
}

#headermenu a:link {
	font-size: larger;
}

a:link {
	color: cornflowerBlue;
	text-decoration: none;
}

a:visited {
	color: indigo;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

a:active {
	color: red;
}

.pageheading {
	color: darkblue;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
}

th {
	background: aqua;
	color: navy;
	font-size: larger;
}

table.form {
	border: 0;
	padding: 4px;
}

button {
	padding: 6px;
	border-radius: 3px;
}

button[type=submit] {
	font-weight: bold;
}

button:hover {
	background-color: white;
}

input {
	border: 1px solid;
	border-radius: 4px;
	height: 20px;
}

.message {
	font-style: italic;
}

.error {
	color: red;
	font-style: italic;
	margin: 5px;
}

div.center {
	text-align: center;
}

div.book {
	display: inline-block;
	margin: 20px;
	text-align: center;
	border: 0;
}

table.book {
	width: 80%;
	border: 0;
	margin: 0 auto;
}

div.book_group {
	width: 80%;
	margin: 0 auto;
}

div.next_row {
	clear: both;
}

img.book-small {
	width: 128px;
	height: 164px;
}

img.book-large {
	width: 240px;
	height: 300px;
}

#book-title {
	font-size: x-large;
	font-weight: bold;
}

#author {
	font-size: large;
	font-style: italic;
}

#description {
	vertical-align: top;
	text-align: justify;
}

#search_image {
	display: inline-block;
	margin: 20px;
	width: 10%
}

#search_description {
	display: inline-block;
	margin: 20px;
	vertical-align: top;
	width: 50%;
	text-align: left;
}

#search_price {
	display: inline-block;
	margin: 20px;
	vertical-align: top;
}